# MinIO / S3 Configuration
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SESSION_TOKEN=miniosession

# Weights & Biases
WANDB_API_KEY=ta_cle_api_ici
WANDB_PROJECT=ml_project_embedding
WANDB_ENTITY=ton_user_ou_team